<%= form_with(model: post, data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset'}) do |form| %>
  <%#= render 'posts/post_errors' %>

  <div>
    <%= form.text_field :title, placeholder: 'Title', autofocus: true, size: '100%' %>
    <% if form.object.errors.full_messages_for(:title).any? %>
      <ul class='object-errors'>
        <% form.object.errors.full_messages_for(:title).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div>
    <%= form.text_area :content, placeholder: 'Content' %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to 'Close', posts_path, class: 'button' if request.headers['Turbo-Frame'] %>
  </div>
<% end %>
