<div id="<%= dom_id(post, :show) %>" class="post-show">
  <h1><%= post.title %></h1>
  <div class='post-content'><%= post.content %></div>
  <div>Created at <%= post.created_at %></div>
  <div>Updated at <%= post.updated_at %></div>
</div>
