<div id="<%= dom_id post %>">
  <div>
    <span><%= post.id %>.</span>
    <span><%= link_to post.title, post, data: { turbo_frame: '_top' } %></span>
    <div class='actions'>
      [
        <%= link_to 'Edit', edit_post_path(post), data: { turbo_frame: dom_id(post, :edit)} %> |
        <%= link_to 'Destroy', post, data: { turbo_method: :delete } %>
      ]
    </div>
    <%= turbo_frame_tag dom_id(post, :edit) %>
  </div>
</div>
