<%= turbo_stream_from :posts %>

<h1>Posts</h1>

<%= turbo_frame_tag :new_post, class: 'new-post' do %>
  <%= link_to "New post", new_post_path %>
<% end %>

<%= turbo_frame_tag "posts" do %>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
<% end %>

<p>
  <%= link_to 'Root', root_path %>
</p>