<p style="color: green"><%= notice %></p>

<%= render partial: 'posts/post_show', object: @post, as: :post %>

<div>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Destroy", @post, data: { turbo_method: :delete } %> |
  <%= link_to "Back to posts", posts_path %>

</div>
