<!DOCTYPE html>
<html>
  <head>
    <title>BlogHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="data:,">
    <%#= favicon_link_tag 'rorlab_logo_box_100px.png' %>
  </head>

  <body>
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>

    <%= yield %>
  </body>
</html>
